


	
 <!-- LEFT-CONTAINER -->
            <div class="middle-container container">
                <div class="menu-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
                    <h2 class="titular">My Hobbies</h2>
                    <ul class="menu-box-menu">
						{{#each hobbies}}
                           <li>
                            <a class="menu-box-tab" href="/join_hobby/{{hobby}}">{{hobby}}{{user}}<Add Hobby</a>
                        </li>
						{{/each}}
                    </ul>
                </div>

       




