
 

	<div class="container">
 	<div class="row">
 		<div class="col-lg-12">
    <div class="main-container">
              <!--sdfasdf -->

       <!-- LEFT-CONTAINER -->
            <div class="middle-container container">
                <div class="menu-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
                    <h2 class="titular">Administration.</h2>
                    <ul class="menu-box-menu">


                        <li>
                            <a class="menu-box-tab" href="/hobbies"><span class="icon fontawesome-envelope scnd-font-color"></span>Hobbies</a>                            
                        </li>
                        <li>
                            <a class="menu-box-tab" href="/groups"><span class="icon entypo-paper-plane scnd-font-color"></span>Groups</a>                            
                        </li>
                        <li>
                            <a class="menu-box-tab" href="/users"><span class="icon entypo-calendar scnd-font-color"></span>Users</a>                            
                        </li>
                        

                    </ul>
                </div>
</div>
     </div></div></div>