 

<link href="../css/index.css" type="text/css" rel="stylesheet" media="screen,projection"/>
     <div class="main-container">    
            <!-- LEFT-CONTAINER -->
            <div class="left-container container">
                <div class="menu-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
                    <h2 class="titular">Challenge Someone</h2>
                    <ul class="menu-box-menu">
                        <li>
                            <a class="menu-box-tab" href="/"><span class="icon fontawesome-envelope scnd-font-color"></span>Challenge:{{title}}</a>                            
                        </li>
                    </ul>

                    
              <ziggeorecorder ziggeo-title="{{title}}" ziggeo-tags="{{username}}" ziggeo-theme="modern"></ziggeorecorder>
 
                </div>

               
               
            </div>

                </div> <!-- end calendar-month block --> 
           