
 
      <div class="container">
       
           <br/>
         <div class="row center">
            <div id="wrapper"> 
                <div id="login_div" class="teal lighten-1">
   
               <form method="post" action="/hobbies">
                <div class="input-field">
                    <label>Hobby</label>
                    <input type="text"  name="hobby" placeholder="hobby">
                  </div>
                  <button type="submit" class="btn btn-default">Add</button>
      
                </form>
        
   </div>
          
        </div>
         </div>
        

      </div>
     <!-- LEFT-CONTAINER -->
            <div class="middle-container container">
                <div class="menu-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
                    <h2 class="titular">Hobbies</h2>
                    <ul class="menu-box-menu">
						{{#each hobbies}}
                           <li>
                            <a class="menu-box-tab" href="edit_hobby/{{this.id}}/">{{this.hobby}}</a>
                        </li>
						{{/each}}
                    </ul>
                </div>

       







