<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style>
    body {
    /*background: url(https://images.unsplash.com/photo-1414016642750-7fdd78dc33d9?dpr=2&fit=crop&fm=jpg&h=825&ixlib=rb-0.3.5&q=50&w=1450);*/
    /*background: url(https://images.unsplash.com/photo-1444012236767-1b471c68781c?dpr=2&fit=crop&fm=jpg&h=825&ixlib=rb-0.3.5&q=50&w=1450);*/
    /*background: url(https://images.unsplash.com/photo-1444012104069-996724bf4a0a?dpr=2&fit=crop&fm=jpg&h=825&ixlib=rb-0.3.5&q=50&w=1450);*/
    background: url(../background2.jpg);
    background-size: cover;
    background-position: center; 
    transition: background 1.5s linear;
    -webkit-backface-visibility: hidden;
    webkit-transition: background-image 1.5s linear;
    -webkit-transform:translate3d(0,0,0);
}
</style>

<body>
  
  <div id="index-banner" class="parallax-container">
   <br/><br/>
   <h2 class="header center teal-text ">Challenge You</h2>
  <br/><br/>
  </div>

    <div class="section no-pad-bot">
      <div class="container">
      
            <div class="loginBox">
              <div class="glass"></div>
               <form method="post" action="/users/login">
                <div class="inputBox">
                             <span><i class="fa fa-user" aria-hidden="true"></i></span>
        
                      <input type="text"  name="username" placeholder="Username">
                   </div>
                  <div class="inputBox">
                               <span><i class="fa fa-lock" aria-hidden="true"></i></span>
     
                      <input type="password"  name="password" placeholder="Password">
         
                  </div>
                    <div class="row center"> 
                  <button type="submit" class="btn btn-default">Submit</button>
                </div>
                </form>
             <div class="row center">  
                   <p> <a class="header-menu-tab orange-text " style="text-decoration:underline" href="/users/register">Register now</a>
            </div>
   </div>
        
     </body>
        
     <script src="https://code.jquery.com/jquery-git2.min.js"></script>
  
         <script src="../scripts/background.js"></script>