

   <div class="middle-container container">
                <div class="menu-box block"> 
                    <h2 class="titular">My friends</h2>
                               
                    <ul class="menu-box-menu">
                       {{#each myfriends}}
                       <li class="menu-box-tab">
                              <span>  {{user}} {{friend}} </span>
                          </li>
                       {{/each}}
                    </ul>
                </div>
             </div>
