<Friend Requests


    <div class="middle-container container">
                <div class="menu-box block"> 
                    <h2 class="titular">User requesting to be your friend</h2>
                               
                    <ul class="menu-box-menu">
                       {{#each friend}}
                       <li class="menu-box-tab">
                              <span>        
   <a href="/browse_profile/{{this.user}}">  {{this.user}} </a>  <a href="/make_friends" class="btn btn-xs btn-warning">Accept</a>
        </span>
                          </li>
                       {{/each}}
                    </ul>
                </div>
             </div>>