
           
           
                
                    {{#each videos}}
                  
                 
      
                <span  class="card teal"  style="display: inline-block;width: 30%;padding:5px;margin:5px">
                <span  class="card-content white-text center-text">
                        <ziggeoplayer  ziggeo-video="{{token}}" ziggeo-theme="modern"></ziggeoplayer>
                <span class="card-title">{{title}}</span>
                </span>
                 </span>
                 
                 
                            
                        
                             
                              
                                
                    
                {{/each}}

            
